<?xml version="1.0"?>
<config>
    <modules>
        <Navision_Customermapping>
            <version>1.0.0</version>
        </Navision_Customermapping>
    </modules>
     
    <global>
        <helpers>
            <navision_customermapping>
                <!-- This is where we define our helper directory -->
                <class>Navision_Customermapping_Helper</class>
            </navision_customermapping>
        </helpers>
                    
        <blocks>
            <navision_customermapping>
                <!-- Set a block definition and lookup directory -->
                <class>Navision_Customermapping_Block</class>
            </navision_customermapping>
        </blocks>
         
        <models>
            <navision_customermapping>
                <!-- This is where we define our model directory -->
                <class>Navision_Customermapping_Model</class>
                <!-- Define a resource to create a custom table -->
                <resourceModel>navision_customermapping_mysql4</resourceModel>
            </navision_customermapping>
             
            <!-- Here's our resource model we'll use to create a database table -->
            <navision_customermapping_mysql4>
                <class>Navision_Customermapping_Model_Mysql4</class>
                <entities>
                    <!-- Let's define our table, we'll call it with the baz name, but the real table is foo_bar_baz -->
                    <!-- After we define our entity, we can call it with our model by calling foo_bar/baz -->
                    <navisioncustomermapping>
                        <table>navision_customermapping_navisioncustomermapping</table>
                    </navisioncustomermapping>
                </entities>
            </navision_customermapping_mysql4>
        </models>
         
        <!-- And finally we define our resource setup script -->
        <resources>
            <navision_customermapping_setup>
                <setup>
                    <module>Navision_Customermapping</module>
                </setup>
            </navision_customermapping_setup>
        </resources>
    </global>
     
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <!-- This is how we load our Adminhtml controllers -->
                    <modules>
                        <Navision_Customermapping before="Mage_Adminhtml">Navision_Customermapping_Adminhtml</Navision_Customermapping>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
     
    <adminhtml>
        <layout>
            <updates>
                <navision_customermapping>
                    <!--
                    We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
                    - Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
                    -->
                    <file>navision/customermapping.xml</file>
                </navision_customermapping>
            </updates>
        </layout>
    </adminhtml>
</config>